
body {
  
font-family: "Century Gothic", sans-serif;
 font-weight: 400;
  font-style: normal;
  background-color: white;
  margin: 0; padding: 0; 
  text-decoration: none
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0px;
  border: none;
  background-color: #282828;
}
.nav-wrapper-resume{
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0px;
  border: none;
  color: black;
  background-color: White;
}



.right {
  display: flex;
}
.project-titles{
  text-align: center;
   display: block;
  padding:9px;
  text-align: left;
  color: #2c3138;
}
.nav-wrapper>.right>div {
  margin-right: 20px;
  font-size: 1em;
  text-transform: uppercase;

}
.mainparts a{
  color: #FFFFFF;
}
a{
  color:black;

  text-decoration: none;
}
.name a {
  color: white;
  text-decoration: none;
}
.name-resume{
  color: black;
  text-decoration: none;
}

.nav-link-wrapper {
  height: 7px;
  transition: border-bottom 0.2s;
}

.nav-link-wrapper a {
  color: white;
  text-decoration: none;
  transition: color 0.5s;
  font-size: 1.2em;
}

.HeaderText{
    display: inline-block;
    left: 50%;
    width: 100%;
    font-size: 20pt;
    font-weight: bold;
    text-align: center;
}

.project_thumbnails{
  background-size: cover;
  background-color: white;
  opacity: 0;
  display: inline-block;
  width: 300px;
  height: 300px;
  position: relative;
  margin: 0 auto;

    font-size: 12pt;
  overflow: hidden;
  transition: 1s;
}
.Text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  z-index: 10;
  text-align: center;
}
.project_thumbnails:hover .Text{
opacity: 100%;
transition: 0.2s;
}
.BackgroundImage{
  width: 100%;
}
.project_thumbnails:hover .BackgroundImage{
transition: 0.2s;
  transform: scale(1.2);
  opacity: 40%;
  background-color: white;
}

#CrowImage{

}


.subsections{padding: 20px;
  background-color: #ffe8da;
  color: black;
  font-size: 16pt;
  margin: 0;
}
.resumehead{
  margin-bottom: 70;
}

.contentpics{
  font-size: 0;
}


.nav-link-wrapper a:hover {
  color: #ff7800;

}

.container {
  padding-top: 0px;
  margin: auto;
  max-width: 1240px;

}
.container-projects {
  padding-top: 0px;

    font-size: 0;
  border: none;
  margin: auto;
  max-width: 1170px;
   -moz-transform: translateX(-50%) translateY(-50%);
}

.name {
  font-size: 1.4em;
  text-transform: uppercase;
  

  margin-left: 20px;
  padding: 0px;
}






.Projects-Header-Image{
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;

}


.Projects-Header{
  background-color: white;
    padding: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}




/*Projects*/

.havetoadd {
  text-align: center;
  padding-top:50px;
  padding-bottom:50px;
  margin-bottom: 30px;
  border: 1px dashed grey;
}

.pro-descriptions{
  display: inline-block;
  vertical-align: top;
  width: 500px;
  min-width: 300px;
  height:auto;
  text-align: justify;
  padding-right: 30px;
}
.pro-image{ 
  
  display: inline-block;
  max-width: 362px;
  padding-bottom: 20px;
}



.content-project{
  width: 100%;
  padding-top: 20px;
  max-width: 900px;
  margin: 0 auto;
  outline: 0;
  border:0;
  padding-top: 0px;
  margin: auto;
  max-width: 900px;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
}

.clickableLinks{
  font-size: 24.5pt; 
  padding-right: 15px;
  padding-top: 5px;
  transition: 1s;

  opacity: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

}
.clickableLinks a{
  color: white;
  
}
.clickableLinks:hover a{
  color: orange;
  transition: color 0.4s;
}
.link_buttons:hover a{
  color: orange;
  transition: 0.4s;
}
.link_buttons{
  color: white;
  margin-top: 25px;margin-bottom: 25px
}

.mainparts{
  margin-top: 10;
width: 48%;
text-align: right;
  transition: 1s;
  padding-right: 50px;
}

@keyframes slideInFromLeft {
  0% {
    height:0;
  }
  100% {
    height:100;
  }
}
.Vline{
  border-right: 2px solid white; height: 100px;
  display: inline-block;float: right;
  animation: 0.5s ease-out 0s 1 slideInFromLeft;
}









/*Resume*/
.content-resume {
  width: 100%;
  max-width: 777px;
  margin: 0 auto;
  padding: 30px;
  padding-top: 0;
  font-size: 1em;
}

.titles {
  display: flex;
  padding: 5px;
  padding-top: 5px;
  padding-bottom: 0px;
  height: 5px;
  margin: 0px;

  font-size: 1.2em;
  font-family: Candara;
  cursor: pointer;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  background-color: white;
}

.titles>img {
  height: 15px;
  margin-top: auto;
  margin-bottom: auto;
}

.titles-text {

  margin-top: auto;
  margin-bottom: auto;
  padding-left: 10px;
}

.row {
  margin: 0px;
  padding: 0px;
}

.tables-cl-o{
  display: inline-block;
  float: left;
  width: 25%;
  margin:0;
  padding-right: 50px;

}
.tables-cl-t{
  display: inline-block;
   float: left;
  margin:0;
  text-align: left;
  width:50%;
  padding-bottom: 10px;
}
.tables-cl-th{
  display: inline-block;
  float: left;
  margin:5px;
  width:8%;
}
.tables-cl-prof-o{
  position: flex;
  display: inline-block;
  float: left;
  width: 15%;
  margin:0;
  padding-right: 0px;
}
.tables-cl-prof-t{
  display: inline-block;
  
  position: relative;
  margin:0;
  text-align: left;
  width:70%;

  padding-bottom: 10px;
}

.vertical_line{
  border
}




.lower-container {
 color: #FFFFFF;
  font-size: 30pt;
  position: absolute;
  width: 100%;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);

  text-align: right;


}
.profile-image-wrapper {
  
  margin: 0 auto;
  width: 300px;
  position: relative;
  display: inline-block;
  float: left;
  margin-left: 50px;
  margin-right: 80px;
  margin-bottom: 25px;

}

.profile-image-wrapper img {
  height: 300px;
}
.profile-image-wrapper .img-top {
  display: none;
  position: absolute;
  width:100%;
  height: 300px;
  top: 0;
  left: 0;
  z-index: 99;
}
.profile-image-wrapper:hover .img-top {
  display: inline;
}



.profile-text-wrapper {
  text-align: justify;
  display: inline-block;
  width: 100%;
  max-width: 500px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.Batbold{
  display: inline;
  color: white; 
  font-weight: bold;
  width: 100%;
  font-size: 30pt;
  text-shadow: 2px 2px 4px #000000;

}
.Batbold:hover{
  cursor: default;
}

.profile-right-upper {

  padding-top: 12px;
  vertical-align: center;
  padding-bottom: 10px;
  width: 100%;

}

.profile-right-lower {

  margin: 5px;
  padding-left: 90px;
  position: relative;
  width: 120px;
  padding-bottom:50px;


}

.profile-right-upper a {
  color: grey;
  text-decoration: none;
  transition: color 0.2s;
}

.profile-right-upper a:hover {
  color: #ff7800;
}


.fa {
  padding: 2px;
  font-size: 30px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}


.linked{
  display: inline-block;
  border-color: white;
  width: 150px;
  height: auto;
  border-style: solid;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 5px;

}

.linked:hover{
  background-color: white;
  color:#234865;
  
}




.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 90px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: -150%;
  right: -3px;
  font-size: 15px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.footer {
  text-align: right;
  margin-top: 30px;
  margin-right: 30px;
  padding-top: 5px;
  padding-bottom: 10px;
  width: 100%;
}

.facebook{
  background: url("images/facebook.png") no-repeat;
  height:30px;
  width: 30px;
  background-size: 100%;
  position: relative;
  z-index: 0;
}
.facebook_hover{
    position: absolute;
    top:0;
    left:0;
    z-index: 1;
    opacity: 0;
}
.facebook_hover:hover{
opacity: 100%;
transition: 0.4s;
}
.LinkedIn{
  background: url("images/LinkedIn.png") no-repeat;
  height:30px;
  width: 30px;
  background-size: 100%;
  position: relative;
  z-index: 0;
  opacity: 100%;
}
.LinkedIn_hover{
    position: absolute;
    top:0;
    left:0;
    z-index: 1;
    padding-left: 10px;
    opacity: 0;
}
.LinkedIn_hover:hover{
opacity: 100%;
transition: 0.4s;
cursor: pointer;
}




#my {
  zoom: 500%;
}























/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
   background: rgba(0, 0, 0, 0.9);

}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 777px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
}

.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
    opacity: 80%;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

img {
}

.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.1s;
  width:100px;

}

.hover-shadow:hover {
  box-shadow: 5px orange);
  opacity: 75%;
}




.titles:hover {
  background-color: white;
}

.content {
  padding-top: 35;
  max-height: 400px;
  overflow: hidden;
  transition: max-height 0.3s linear;

}

@media only screen and (max-width: 600px) {

  .left {
      display: block;

    margin: 0 auto;
    width: 100%;
    text-align: center;
    padding-bottom: 5px;
    }

    .right {
      display: block;

    margin: 0 auto;
    width: 100%;
    text-align: center;
    }
    .nav-wrapper {
    display: block;

    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0px;
    border-bottom: 1px solid gray;
  }
  .nav-link-wrapper{

    display: inline-flex;
    width:20%;
  }


  .profile-image-wrapper{
    margin: auto;

    display: block;
    float:left; margin:0;

    width: 100%;
    padding-bottom: 20px;
  }
  .profile-image-wrapper img{
    width: 100%;
    height: auto;
  }

  .profile-image-wrapper .img-top {

    height: auto;
  }
  .lower-container{
    padding-top: 50px;
  }
.content-project{
  display: block;
  width: 100%;
  padding-left: 0px;
  padding-right: 0;
 
  margin: 0px;
  border: none;
  max-width: 777px;
}
.content-resume{
  width: 100%;
  padding-left: 0px;
  padding-right: 0;
}



  .lower-container{
    padding-top: 50px;
  }

.tables-row{
  width: 100%;
  padding-bottom: 50px;
  position: relative;
  margin-bottom: 50px;
}
.tables-cl-o{
  display: block;
  width: 100%;

}
.tables-cl-t{
  display: block;
  width: 100%;
  text-align: justify;

padding-bottom: 59px;
  
}
.tables-cl-prof-t{
  display: block;
  width: 100%;
  text-align: justify;
  
}.tables-cl-prof-o{
  display: block;
  width: 100%;
  text-align: justify;
  
}


.pro-descriptions{
  width:100%;
  text-align: justify;
}
.pro-image{
  max-width:100%;
}

.name {
  font-size: 1.8em;
  margin: 0px;
  padding-bottom: 5px;
}


.havetoadd {
  padding-top: 80px;
  padding-bottom: 80px;
}

